FRONTEND_IMAGE=suri-map-frontend:develop
BACKEND_IMAGE=suri-map-backend:develop
TILESERVER_IMAGE=maptiler/tileserver-gl:latest
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8081
TILESERVER_HOST_PORT=8082
TILESERVER_DATA_DIR=/home/ubuntu/infra/tileserver
TILESERVER_MODE=tileserver-gl
TILESERVER_BASE_URL=http://tileserver-gl:8080
POSTGRES_HOST_PORT=5432
POSTGRES_DB=suri_map
POSTGRES_USER=suri_map_user
POSTGRES_PASSWORD=change-this-password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
FCM_PROVIDER=mock
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_CREDENTIALS_JSON_BASE64=
FIREBASE_PROJECT_ID=
FIREBASE_FCM_DRY_RUN=false
SURI_MAP_KEYCLOAK_ISSUER_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map
SURI_MAP_KEYCLOAK_JWK_SET_URI=http://keycloak:8080/keycloak/realms/suri-map/protocol/openid-connect/certs
SURI_MAP_LEGACY_SESSION_ENABLED=false
