FRONTEND_IMAGE=suri-map-frontend:develop
BACKEND_IMAGE=suri-map-backend:develop
TILESERVER_IMAGE=maptiler/tileserver-gl:latest
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8081
TILESERVER_HOST_PORT=8082
TILESERVER_DATA_DIR=/home/ubuntu/infra/tileserver
TILESERVER_MODE=tileserver-gl
TILESERVER_BASE_URL=http://tileserver-gl:8080
OBJECT_STORAGE_IMAGE=minio/minio:latest
OBJECT_STORAGE_HOST_PORT=9000
OBJECT_STORAGE_CONSOLE_HOST_PORT=9001
SURI_MAP_OBJECT_STORAGE_PROVIDER=s3-compatible
SURI_MAP_OBJECT_STORAGE_ENDPOINT=http://object-storage:9000
SURI_MAP_OBJECT_STORAGE_PUBLIC_ENDPOINT=https://k14c106.p.ssafy.io
SURI_MAP_OBJECT_STORAGE_BUCKET=suri-map-photo
SURI_MAP_OBJECT_STORAGE_ACCESS_KEY=change-this-access-key
SURI_MAP_OBJECT_STORAGE_SECRET_KEY=change-this-secret-key
SURI_MAP_OBJECT_STORAGE_REGION=us-east-1
POSTGRES_HOST_PORT=5432
POSTGRES_DB=suri_map
POSTGRES_USER=suri_map_user
POSTGRES_PASSWORD=change-this-password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
FCM_PROVIDER=mock
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_CREDENTIALS_JSON_BASE64=
FIREBASE_PROJECT_ID=
FIREBASE_FCM_DRY_RUN=false
SURI_MAP_KEYCLOAK_ISSUER_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map
SURI_MAP_KEYCLOAK_JWK_SET_URI=http://keycloak:8080/keycloak/realms/suri-map/protocol/openid-connect/certs
SURI_MAP_OPENAI_ENABLED=false
SURI_MAP_OPENAI_BASE_URL=https://api.openai.com/v1
SURI_MAP_OPENAI_API_KEY=
SURI_MAP_OPENAI_MODEL=gpt-5-mini
SURI_MAP_OPENAI_TIMEOUT_MS=15000
MOCK112_KEYCLOAK_CLIENT_ID=suri-map-mock112
MOCK112_KEYCLOAK_AUTHORIZATION_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map/protocol/openid-connect/auth
MOCK112_KEYCLOAK_TOKEN_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map/protocol/openid-connect/token
MOCK112_KEYCLOAK_JWK_SET_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map/protocol/openid-connect/certs
MOCK112_KEYCLOAK_USER_INFO_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map/protocol/openid-connect/userinfo
MOCK112_INTERNAL_API_TOKEN=
KEYCLOAK_IMPORT_DIR=/home/ubuntu/infra/keycloak/import
KEYCLOAK_THEME_DIR=/home/ubuntu/infra/keycloak/themes
