BACKEND_IMAGE=suri-map-backend:develop
BACKEND_HOST_PORT=8081
POSTGRES_HOST_PORT=5432
POSTGRES_DB=surimap
POSTGRES_USER=surimap
POSTGRES_PASSWORD=surimap
SPRING_JPA_HIBERNATE_DDL_AUTO=update
FCM_PROVIDER=mock
FIREBASE_CREDENTIALS_LOCATION=
FIREBASE_CREDENTIALS_JSON_BASE64=
FIREBASE_PROJECT_ID=
FIREBASE_FCM_DRY_RUN=false
SURI_MAP_KEYCLOAK_ISSUER_URI=https://k14c106.p.ssafy.io/keycloak/realms/suri-map
SURI_MAP_KEYCLOAK_JWK_SET_URI=http://keycloak:8080/keycloak/realms/suri-map/protocol/openid-connect/certs
SURI_MAP_OPENAI_ENABLED=false
SURI_MAP_OPENAI_BASE_URL=https://api.openai.com/v1
SURI_MAP_OPENAI_API_KEY=
SURI_MAP_OPENAI_MODEL=gpt-5-mini
SURI_MAP_OPENAI_TIMEOUT_MS=15000
