FRONTEND_IMAGE=suri-map-frontend:develop
BACKEND_IMAGE=suri-map-backend:develop
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8081
POSTGRES_HOST_PORT=5432
POSTGRES_DB=suri_map
POSTGRES_USER=suri_map_user
POSTGRES_PASSWORD=change-this-password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

